
<span class="instruction-question">What is "It's On!"?</span> <p>"<span class="its-on-text">It's on!</span>" is a quick and easy way to find activities going on in your area.  It takes just a few minutes to set up, and after that, you just sit back and the activities you're interested in come to you.  Here is how it works...</p><br />

<span class="sub-instruction">CREATE AN ACCOUNT: </span><p class="inline">  Click <%= link_to "here", new_user_registration_path %> to get started.</p><br /><br />

<span class="sub-instruction">SUBSCRIBE TO CATEGORIES:  </span><p class="inline">Go through the categories and subscribe to the ones you are interested in.  To subscribe to a category, click on the rss symbol to the right of the category name.  If the symbol is green, it means you are subscribing.  If you wished to subscribe to all sports you can simply subscribe to 'sports'.  However, if you are just interested in one or two specific sports, you can first click on 'sports' and the narrow down your search to the specific sport(s) you wish to subscribe to.</p><br /><br />

<span class="sub-instruction">JOIN GROUPS:</span><p class="inline"> Groups make it easy to keep activities private between certain people.  To join a group, click on the groups tab, browse through the groups, and then click on the green '+' by the group name you wish to join.  You are then a member of that group.  Remember, everyone is automatically added to the public group.<br /><br />

That's it.  Now that you have your account set up, you will automatically be notified if one of your groups creates a new activity in a category that you are subscribing to. To learn more about how activities work and how to participate in one, click on any activity listed and read the instuctions at the top of the page.</p>