<p><%= @comment_writer %> posted a new comment in the activity "<%= @activity.title %>"....<p>

<p>"<%= @comment.body %>"</p>

<p>To view this activiy and all comments posted, click <%= link_to "here", activity_url(@activity) %>.</p>

<p>Please add 'IT'S ON!' to your contact list to ensure you receive these emails in the future.</p>