<% if signed_in? %>
	<span class="action-buttons">
		<% if !current_user.member?(group) %>
			<%= render partial: 'join_button', locals: { group: group } %>
		<% else %>
			<%= render partial: 'leave_button', locals: { group: group } %>		
		<% end %>
		<% if group.creator_id == current_user.id %>
			<%= link_to t('.edit', :default => t("helpers.links.edit")),
			              edit_group_path(group), :class => 'btn btn-mini' %>
			<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			          group_path(group),
			          :method => :delete,
			          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			          :class => 'btn btn-mini btn-danger' %>
		<% end %>
	</span>
<% end %>