// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.users-header{
	display: -webkit-box;
	-webkit-box-orient:horizontal;
}

.its-on{
	background-color: 559955;
}

.its-off{
	background-color: 999999;
}
