// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$pastel_green: rgb(200,255,200);
$pastel_red: rgb(255,200,200);
$pastel_blue: rgb(200,255,255);

.users-header{
	display: -webkit-box;
	-webkit-box-orient:horizontal;
}

.its-on-open{
	background-color: $pastel_green;
}

.its-on-full{
	background-color: $pastel_red;
}

.its-off{
	background-color: white;
}

.open-spots{
	font-weight: bold;
}

#custom-header{
	background-color: rgb(100,100,100)
}