<% provide(:title, 'Activities') %>

<div class="instruction-question">How do activities work?</div>
<p>Each activity has a set number of min and max participants that can join.  Users join an activity by first clicking on the activity title in the list below, and then clicking the "JOIN ACTIVITY" button in the activity details page.  Once the min number of participants has been met, the activity becomes real and will actually take place, or as we like to say, "<span class="its-on-text">IT'S ON!</span>".  You can see how many spots remain for an activity by looking at the 'Open' column in the table below.  All activities have a max number of participants, and are on a "first come, first served" basis, so be quick and don't miss your chance to participate in the next big event!</p><br />

<div class="row">
	<aside class="span3">
		<%= render "category_navigation" %>
		<br />
		<% if signed_in? and current_user.subscriptions.count == 0 %>
			<span class="bold">You are currently not subscribing to any categories!</span>
			<span>  To get the most out of </span>
			<span class="its-on-text">IT'S ON!</span><span>, subscribe to categories that you're interested in by clicking on the rss icons.  If it's green, then you're subscribing.  You will be notified when activities come up in your subscriptions.
		<% end %>
		<br />
	</aside>


	<div class="span9">
		<%= render "activities_list" %>
	</div>
</div>
<br />
<br />
<br />

