<% provide(:title, 'Activity Details') %>
<div class="row">
	<div class="span5">
	  <%= render "activity_details" %>
	</div>

	<div class="span5 offset1">
	  <%= render "activity_users" %>
	</div>
</div>
<br />

<div class="row">
	<div class="span5">
		<%= render "activity_groups" %>
	</div>
</div>